/* body {
max-width: max-content;
margin: auto;
} */
.decor {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}
.center {
  text-align: center;
  margin-top: 25px;
}
.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
.tooltip {
  position: absolute;
  width: 160px;
  height: 45px;
  padding: 5px;
  font: 12px sans-serif;
  background: aliceblue;
  border: 1px solid black;
  opacity: 0.5;
  text-align: left;
  border-color: black;
  border-radius: 4px;
  pointer-events: none;
  vertical-align: middle;
}
.content {
  max-width: 960px;
  margin: auto;
  background: white;
  padding: 10px;
}
.visual {
  border-style: solid;
  border-width: thin;
  border-color: #E8E8E8;
  background-color: #F6F6F6;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}
.axisText {
    font: 15px sans-serif;
}
.pagination {
  display: inline-block;
}
.btn-link {
  /* border: none; */
  border: 1px solid #555;
  /* outline: none; */
  /* padding: 10px 16px; */
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  /* background-color: #f1f1f1; */
  cursor: pointer;
  /* font-size: 18px; */
}
/* .active, .btn-link:hover {
  background-color: #666;
  color: white;
} */
.active {
  background-color: #5DADE2;
  color: white;
}
.btn-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-link:hover:not(.active) {background-color: #ddd;}
